body {
  background-color: #001;
}


header {
  margin: 0 auto; 
  padding: 20px; 
  color: white;
  text-align: center; 
}


header p {
  color: cornflowerblue; 
  margin: 0 auto;
}
header p:hover {
  color: cadetblue;
}
