body {
  background-color: #000;
  font-family: Verdana, Georgia, Arial, 'sans-serif', serif; 
  color: white; 
  margin: 0 auto; 
}


header {
  margin: 0 auto; 
  font-size: 50px;
  font-family: verdana;
  padding: 20px; 
  color: white;
  text-align: center; 
}


header p {
  color: Aquamarine; 
  font-fize: 16px; 
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-weight: 300; 
  font-size: 42px;
  text-align: center;
}

p { 

  text-align: center; 
}
h3 {
  text-align: center;
}

video {
  display: block; 
  margin: 0 auto; 
}
img {
  display: block; 
  margin: 0 auto; 
}

.copyright {
  text-align: right;
  color: Gray; 
}
