body {
  background-color: #000;
  font-family: Verdana, Georgia, Arial, 'sans-serif', serif; 
  color: white; 
  margin: 0 auto; 
}


header {
  font-family: verdana;
  padding: 20px; 
  color: white;
}

header h1 {
  font-size: 50px; 
  text-align: center; 
}

header p {
  font-fize: 16px; 
  margin: 0 auto;
  text-align: center;
}

a {
  color: Aquamarine; 
}

h2 {
  font-weight: 300; 
  font-size: 42px;
  text-align: center;
}

p { 

  text-align: center; 
}
h3 {
  text-align: center;
}

video {
  display: block; 
  margin: 0 auto; 
}
img {
  display: block; 
  margin: 0 auto; 
}
.icon {
  margin-top: 50px; 
}

.copyright {
  text-align: right;
  margin-right: 25px; 
  color: Gray; 
}
.overview {
  color: Gray;
}
